<form
  [formGroup]="userForm"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit(formDirective)"
  class="flex p-4 gap-4"
>
  <app-user-form-text-input
    class="flex-grow"
    controlName="firstName"
    label="First Name"
    placeholder="Jon"
    [control]="userForm.controls.firstName"
  />
  <app-user-form-text-input
    class="flex-grow"
    controlName="lastName"
    label="Last Name"
    placeholder="Doe"
    [control]="userForm.controls.lastName"
  />
  <mat-form-field class="flex-grow">
    <mat-label>Birth Day</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="birthDayAt"
      placeholder="MM/DD/YYYY"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <app-users-form-input-error [control]="userForm.controls.birthDayAt" />
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!userForm.valid">
    Submit
  </button>
</form>
